html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.homepage-container {
  height: 100vh;
  padding: 10px;
  background-color: #071739;
}

.homepage-container > * {
  color: #fff;
}

.homepage-container > h1 {
  font-weight: bold;
  font-size: 60px;
}

.homepage-container > h2 {
  font-size: 35px;
}

form > button {
  color: #000;
  margin-left: 10px;
}


/* NOT FOUND PAGE */
.notfound-container {
  height: 100vh;
  background-color: #071739;
  text-align: center;
  padding-top: 15%;
}
.notfound-container > * {
  color: #fff;
}
.notfound-container > h1 {
  font-size: 50px;
  font-weight: bold;
}

/* REPOSITORY CARD */
.global-repositories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}
.repo-card {
  border: 1px solid #000;
  padding: 5px 10px;
  margin: 7px;
  width: max-content;
  flex: 0 1 500px;
}
.repo-card > h1 > a {
  color: #000;
  font-weight: bold;
}
.repo-card > h1 > a:hover {
  text-decoration: underline;
}
p {
  margin: 0;
}