html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.homepage-container {
  height: 100vh;
  padding: 10px;
  background-color: #323949;
}
.homepage-container > * {
  color: #fff;
}
.homepage-container > h1 {
  font-weight: bold;
  font-size: 60px;
  padding-top: 50px;
}
.homepage-container > h2 {
  font-size: 35px;
}
form > button {
  color: #000;
  margin-left: 10px;
}
span.title-span-color {
  color: #F5C014;
}

/* NOT FOUND PAGE */
.notfound-container {
  height: 100vh;
  background-color: #323949;
  text-align: center;
  padding-top: 15%;
}
.notfound-container > * {
  color: #fff;
}
.notfound-container > h1 {
  font-size: 50px;
  font-weight: bold;
}

/* REPOSITORY CARD */
.global-repositories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  background-color: #323949;
}
.repo-card {
  border: 2px solid #F5C014;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 7px;
  width: max-content;
  flex: 0 1 500px;
  background-color: #4c5265;
  opacity: 1;
  transition: .3s;
}
.repo-card:hover {
  /*background-color: #323949;*/
  cursor: default;
  background-color: ;
}
.repo-card > h1 > a {
  color: #F5C014;
  font-weight: bold;
}
.repo-card > h1 > a:hover {
  text-decoration: underline;
}
p, li {
  margin: 0;
}